body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CSS for Add and Create pages */
.add-technician-container,
.create-appointment-container,
.add-manufacturer-container,
.create-vehicle-model-container {
  width: 400px;
  margin: 32px auto;
  padding: 16px;
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 0.25rem;
}

/* CSS for Add and Create forms */
.add-technician-form,
.create-appointment-form,
.add-manufacturer-form,
.create-vehicle-model-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* CSS for List pages*/
.list-technician-container,
.list-appointments-container,
.list-service-history-container,
.list-sales-container,
.list-manufacturers-container,
.list-vehicle-models-container {
  margin-top: 32px;
  gap: 8px;
}

/* CSS for Service History filter */
.filter-service-history {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px; /* Add some space between the form and the table */
}

/* CSS for the search input */
.filter-service-history input[type="text"] {
  flex: 1; /* Take up remaining available space */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ced4da; /* Add a border to the input */
  border-radius: 0.25rem; /* Rounded border corners */
}

/* CSS for the search and reset buttons */
.filter-service-history button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem; /* Rounded border corners */
}

/* Align the buttons to the end of the form */
.filter-service-history button:last-child {
  margin-left: auto;
}

/* Clear the default button styles */
.filter-service-history button:focus {
  outline: none;
}

/* CSS for nav */
.navbar {
  width: 100vw;
  padding-left: 8px;
  padding-right: 8px;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item a,
.nav-item a.active {
  color: white;
}

.nav-item a:hover,
.nav-item a.active:hover {
  color: white;
  text-decoration: underline;
}

.list-vehicles-picture {
  height: 150px;
  width: 200px;
  object-fit: contain;
}
